*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared style */
body{
    font-family: "Open Sans", sans-serif;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

}
.sectionHeading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.sectionHeading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.sectionHeading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

/* Main style */
header{
    background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}

nav .navMenu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .navMenu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .bannerContent{
    max-width: 585px;
}
#banner .bannerContent h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .bannerContent h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .bannerContent p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

#banner .bannerImage img{
    max-width: 585px;
    vertical-align: middle;
}

#about, #skills, #resume{
    padding-top: 130px;
}
#about .aboutContainer{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background: #FFF8F3;
    padding: 131px 156px;
}

#about .aboutContainer .aboutInfo{
    display: flex;
    justify-content: space-around;
}

.aboutInfo .infoCard p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.aboutInfo .infoCard h4{
    font-size: 20px;
}


.skillsContainer{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: center;
    
}

#skills .skillsContainer .skillBox{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.skillBox .skillCard{
    padding: 30px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 50px 0 #00000026;
    max-width: 267px;
}

.skillCard img{
    max-width: 44px;
    margin-bottom: 30px;   
}

.skillCard h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skillCard p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

#resume .resumeContainer{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}

.resumeContainer .sectionTitle{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.resumeCard{
    max-width: 511px;
    margin-right: 47px;
}

.resumeCard .cardTitle{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}
.resumeCard .cardInfo{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #474747;
}
.resumeCard .cardText{
    font-size: 16px;
    line-height: 28px;
    color: #757575
}
.resumeContainer hr{
    margin: 30px 0;
}